# Vuepress Cache
**/.vuepress/.cache/**
# Vuepress Temp
**/.vuepress/.temp/**
# Vuepress Output
**/.vuepress/dist/**
**/.vuepress/templateBuild.html

# Node modules
node_modules/

# pnpm lock file
pnpm-lock.yaml
