// toc.scss, navbar.scss, sidebar.scss
@import "vidstack/player/styles/default/theme.css";
@import "vidstack/player/styles/default/layouts/audio.css";
@import "vidstack/player/styles/default/layouts/video.css";

/* 
.toc-place-holder {
  // 从原本距离导航栏 2rem 改为 5rem
  top: calc(var(--navbar-height) + 5rem);
}

#toc {
  // 增加 toc 与内容区的距离
  left: calc(100% + 2rem);

  // 隐藏目录文字「此页内容」
  .toc-header {
     visibility: hidden;
  }
}
 */
.frs-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vp-tags {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.vp-tag-item {
  display: inline-block;
  padding: 5px 10px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  color: var(--tag-text);
  background-color: var(--vp-c-accent); /* 你可以选择任何你喜欢的颜色 */
  border-radius: 12px;
  margin: 5px;
  text-align: center;
  cursor: default;
  transition: background-color 0.3s;
}

.vp-tag-item:hover {
  opacity: 0.8;
  background-color: var(--vp-c-accent); /* 悬停时的背景颜色 */
}
